.mail-preview {
    border-spacing: 0;
    vertical-align: inherit;
    border-color: inherit;
    background: rgba(242, 245, 245, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    position: relative;
    justify-content: space-between;
    font-size: 20px;
    font-family:monospace ;
}

.mail-preview .check-td {
    height: 40px;
    width: 30px;
}

.mail-preview .main-td a {
    display: flex;
}

.mail-preview .main-td .body {
    flex-grow: 4;
}

.mail-preview .main-td .mail {
    width: 200px;
}

.mail-preview .main-td .title {
    width: 200px;
}

.mail-preview :hover {
    background-color: beige;
}

.unread {
    font-weight: bold;
}

.read {
    font-weight: normal;
}