.message-action {
    text-align: center;
    height: 70px;
}

.message-action>* {
    height: 40px;
    width: 40px;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
}

.message-action .ctgs {
    display: inline-block;
}

.message-action .input-container {
    position: absolute;
}

.message-action .ctgs button {
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 5px;
}