body {
    background-color: whitesmoke;
    margin: 0;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

table {
    box-sizing: border-box;
    text-indent: initial;
    border-color: grey;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    padding-bottom: 10px;
}
