@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.app-header {
    top: 0;
    display: grid;
    grid-template-columns: 1fr 9fr;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 250, 255);
    border-bottom: solid 0.5px rgba(207, 192, 192, 0.667);
    margin-bottom: 20px;
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
}

.app-header h3 {
    width: 100px;
}

.app-header .search-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.app-header input {
    color: rgb(110, 90, 90);
    border: 0.5px solid rgb(191, 177, 177);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2px;
}

.app-header>* {
    color: #cfc99a;
}

.app-header nav>*:not(:last-child) {
    margin-inline-end: 10px;
}

.active {
    color: #aba89d;
}

.app-header nav>* {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.app-header nav>*:hover {
    color: #c6c3b9;
}

.app-header .btn-toggle-menu {
    display: none;
}

@media (max-width: 800px) {
    .app-header nav {
        transform: translateY(80px);
        width: 100%;
        left: 0;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        justify-content: flex-end;
        align-items: center;
        transition: max-height .6s;
    }

    .app-header .btn-toggle-menu {
        display: block;
    }

    .menu-open {
        display: flex;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background-color: #F5F6FA;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        position: fixed;
        z-index: 1;
    }

    .menu-open>* {
        padding: 10px 0;
        transition-delay: 2s;
    }
}