.note-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    
}

.add-txt {
    border-radius: 25px;
    border: 0.5px solid black
}


.note-add input {
    height: 2.5rem;
    width: 100%;
    display: block;
    align-self: baseline;
}

.note-add button {
    margin: 10px;
    padding: 5px;
    width: 100px;
    background-color: darksalmon;
    border: none;
    border-radius: 20px;
}

.add-imgs {
    display: flex;
    width: 100px;
    padding-bottom: 10px;
}


.add-img {
    height: 1rem;
}

.add-imgs-modal {
    display: flex;
    width: 100px;
    top: 126px;
    position: absolute;
    top: 12%;
    right: 3%;
    z-index: 2
}


.add-modal {
    background-color: rgb(245 245 245);
    position: absolute;
    top: 14%;
    z-index: 1;
}