.note-filter{
    padding-top: 10px;
    
    
}

.note-filter select{
    border:0.3px solid black;
    background-color: rgb(245, 242, 241);
    border-radius: 25px;
    padding: 2px;
    height: 2.5rem;
    width: 80px;
    text-align: center;
}